
/*-- scss:defaults --*/
.green-fifteen-pt { 
  font-size: 15pt; 
  color: green;
}

h1 .title {
  font-size: 45px;
}

.title {
  //font-style: italic;
  //font-variant: small-caps;
}

.column {
  float: left;
  width: 50%;
  display: table;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
} 
